@font-face {
  font-family: 'am-gdpr';
  src:
    url('/fonts/am-gdpr.woff2?mw30zv') format('woff2'),
    url('/fonts/am-gdpr.woff?mw30zv') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'am-gdpr' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-am:before {
  content: "\e900";
}

.icon-chevron-down:before {
  content: "\e901";
}

.icon-chevron-left:before {
  content: "\e902";
}

.icon-chevron-right:before {
  content: "\e903";
}

.icon-chevron-up:before {
  content: "\e904";
}

.icon-cookies:before {
  content: "\e905";
}

.icon-danger:before {
  content: "\e906";
}

.icon-github:before {
  content: "\e907";
}

.icon-info:before {
  content: "\e908";
}

.icon-question:before {
  content: "\e909";
}

.icon-settings:before {
  content: "\e90a";
}
