@use "sass:meta";

@layer GDPR {
  :host {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--color);
    line-height: 1.3em;
    display: block;
    width: 100%;
    height: 100%;
    cursor: default;

    *::selection {
      background-color: var(--color);
      color: var(--background-color);
    }

    @include meta.load-css('cookieWarning');
    @include meta.load-css('popUp');
    @include meta.load-css('switch');
    @include meta.load-css('uiButton');

    * {
      box-sizing: border-box;
    }

    input,
    textarea,
    button {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      border: 0;
      outline: 0;
      background-color: transparent;
    }

    button {
      background-color: var(--accent-color);
      transition: transform .2s ease-in-out;
    }

    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"] {
      appearance: none;

      * {
        pointer-events: none;
      }

      &:not([disabled]) {
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.02);
      }
    }

    a {
      // color: var(--accent-color);
      color: inherit;
      font-weight: bold;
      text-decoration: none;
      position: relative;

      &::after {
        content: '';
        border-bottom: solid var(--border-width) var(--accent-color);
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      &:hover::after {
        opacity: 0;
      }
    }

    svg {
      width: auto;
      height: auto;
      display: inline-block;

      path {
        fill: currentcolor;
      }
    }

    p {
      margin: 0;
      padding: .5em 0 .7em;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
      font-weight: bold;
      font-size: 2.2em;
      padding: 0;
      margin: 0;
      margin-top: .5em;
    }

    h2,
    .h2 {
      font-size: 1.7em;
    }

    h3,
    .h3 {
      font-size: 1.5em;

      svg {
        height: 1.2em;
        display: inline-block;
        vertical-align: bottom;
      }
    }

    .icon-cookies {
      display: flex;
      margin: 0;
      padding: 0;
    }
  }
}
