@layer PopUp {
  .pop-up {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999;
    animation-duration: 0.4s;
    animation-name: fade-in;
    background-color: rgb(0 0 0 / 30%);

    & dialog {
      position: absolute;
      height: 90%;
      max-width: 90%;
      min-height: 0;
      max-height: 0;
      border-radius: 0.25em;
      border: solid var(--border-width) currentcolor;
      left: 0;
      right: 0;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);
      padding: 40px;
      overflow: hidden;
      transition: max-height .2s ease-in-out, min-height .2s ease-in-out;
      width: 600px;
      box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
      color: var(--color);
      background-color: var(--background-color);

      .button-wrapper {
        margin-top: 1em;
      }

      .close-button {
        top: 14px;
        right: 14px;
        width: 25px;
      }

      &[data-animate="up"] {
        animation: fade-up .3s ease-in-out;
      }

    }

    &[data-gallery="true"] {
      dialog {
        padding: 0;
      }
    }
  }

  .inner-wrapper {
    width: 100%;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    margin: 0;
  }

  .column {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: flex-start;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(0);
    }

    100% {
      opacity: 1;
      transform: translateY(-50%);
    }
  }

  @media only screen and (width <= 760px) {
    .pop-up {
      .pop-up-element {
        padding: 25px;

        .close-button {
          width: 20px;
          top: 5px;
          right: 5px;
        }
      }
    }

    .row {
      overflow: auto hidden;
      scroll-snap-points-x: repeat(100%);
      scroll-snap-type: x mandatory;
      flex: 1 1;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .column {
      width: 100%;
      height: 100%;
      position: relative;
      flex: 0 0 100%;
      scroll-snap-align: start;
    }
  }
}