.popUp {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  animation-duration: .4s;
  animation-name: fadeIn;
  background-color: rgba(0, 0, 0, 0.3);

  dialog {
    position: absolute;
    width: 600px;
    height: 90%;
    max-width: 90%;
    min-height: 0;
    max-height: 0;
    // max-height: 90%;
    border-radius: .25em;
    border: solid var(--border-width);
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    overflow: hidden;
    transition: max-height .2s ease-in-out, min-height .2s ease-in-out;
    width: 600px;

    .closeButton {
      top: 14px;
      right: 14px;
      width: 25px;
    }

    &[data-animate="up"] {
      animation: fadeUp .3s ease-in-out;
    }

    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  }

  &[data-gallery="true"] {
    dialog {
      padding: 0;
    }
  }
}

.innerWrapper {
  width: 100%;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-start;
  margin: 0;
}

.column {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 760px) {
  .popUp {
    .popUpElement {
      padding: 25px;

      .closeButton {
        width: 20px;
        top: 5px;
        right: 5px;
      }
    }
  }

  .row {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    flex: 1 1;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;
  }

  .column {
    width: 100%; //calc(90vw - 50px);
    height: 100%;
    position: relative;
    // flex: 0 0 calc(90vw - 50px);
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
}
