@layer Switch {
  :host {
    .container {
      display: inline-flex;
      flex-direction: column;
      margin-right: 0.5em;
      margin-top: 0.5em;
      font-size: 0.9em;
    }

    .text-label {
      margin-bottom: 0.5em;
    }

    .label {
      position: relative;
      display: inline-block;
      width: 3em;
      height: 1.5em;

      .input {
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      inset: 0;
      border-radius: 1em;
      border: solid var(--border-width) currentcolor;
      appearance: none;
      transition: background-color .2s;

      &::before {
        position: absolute;
        border-radius: 50%;
        content: "";
        height: 1em;
        width: 1em;
        left: 0.2em;
        bottom: 0;
        top: 0;
        margin: auto;
        background-color: currentcolor;
        transition: 0.4s;
      }
    }

    .input {
      &:focus+.slider {
        box-shadow: 0 0 1px;
      }

      &:checked+.slider {
        background-color: var(--accent-color);

        &::before {
          transform: translateX(1.4em);
        }
      }

      &:disabled+.slider {
        opacity: 0.5;
      }
    }
  }
}
