.menu-button {
  position: absolute;
  width: 40px;
  max-width: 100%;
  padding: 0;
  margin: 0;
  line-height: 0;
  z-index: 999;
  cursor: pointer;
  transition: transform .2s ease-in-out, color .2s ease-in-out;
  background-color: transparent;
  display: block;
  border-color: unset;
  outline-color: unset;

  .hamburger {
    width: 100%;
    display: inline-block;
    vertical-align: middle;

    &::before,
    >span,
    &::after {
      background-color: currentColor;
      border-color: currentColor;
      outline-color: currentColor;
      display: block;
      height: 2px;
      margin: 10px 0;
      transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .2s ease-in-out;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before {
      margin-top: 0;
    }

    &::after {
      margin-bottom: 0;
    }
  }

  &[data-open="true"] {
    .hamburger {
      &::before {
        transform: translateY(12px) rotate(135deg);
      }

      >span {
        transform: translateY(0) rotate(-135deg);
        opacity: 0;
      }

      &::after {
        transform: translateY(-12px) rotate(-135deg);
      }
    }
  }
}
